.add-layout {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.add-book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: row;
  width: 500px;
  border-color: #3f7bcf;
}

.add-book-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: #3f7bcf;
  justify-items: center;
  justify-content: center;
}
.book-add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-color: #3f7bcf;
}

.right-container {
  flex: 2;
  background: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 400px;
  justify-content: center;
  border: solid 1px;
  border-radius: 15px;
  margin-top: 10px;
  border-color: #3f7bcf;
}

.right-container .set {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.right-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.right-container input,
.right-container textarea {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  font-family: var(--font-family);
  font-size: 14px;
  border-color: #3f7bcf;
}

.right-container textarea {
  min-height: 80px;
  resize: vertical;
}

.right-container footer {
  display: flex;
  justify-content: flex-end;
}

.right-container button {
  background: var(--secondary-bg-color);
  background-color: #3f7bcf;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}

.right-container button:hover {
  background: rgb(11, 41, 190);
}
